In [1]:
import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split

import sys
sys.path.append("..")

customers = pd.read_csv('data/recommend_1.csv') 
transactions = pd.read_csv('data/trx_data.csv')
print(customers.shape)
customers.head()

(1000, 1)

   customerId
0        1553
1       20400
2       19750
3        6334
4       27773

In [2]:
print(transactions.shape)
transactions.head()

(62483, 2)

   customerId                        products
0           0                              20
1           1  2|2|23|68|68|111|29|86|107|152
2           2       111|107|29|11|11|11|33|23
3           3                         164|227
4           5                             2|2

In [3]:
transactions['products'] = transactions['products'].apply(lambda x: [int(i) for i in x.split('|')])
data = pd.melt(transactions.set_index('customerId')
['products'].apply(pd.Series).reset_index(), 
             id_vars=['customerId'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['customerId', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})
data['productId'] = data['productId'].astype(np.int64)
print(data.shape)
data.head()

(133585, 3)

   customerId  productId  purchase_count
0           0          1               2
1           0         13               1
2           0         19               3
3           0         20               1
4           0         31               2

In [4]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy
data_dummy = create_data_dummy(data)

df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())

# create a table for input to the modeling  
d = df_matrix_norm.reset_index() 
d.index.names = ['scaled_purchase_freq'] 
data_norm = pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)
data_norm.head()

(133585, 3)

    customerId productId  scaled_purchase_freq
9            9         0              0.133333
25          25         0              0.133333
32          33         0              0.133333
35          36         0              0.133333
43          44         0              0.133333

In [5]:
#function that combines steps above
def normalize_data(data):
    df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
    df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()

In [6]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data


train_data, test_data = split_data(data)
train_data_dummy, test_data_dummy = split_data(data_dummy)
train_data_norm, test_data_norm = split_data(data_norm)

In [7]:
# constant variables to define field names include:
user_id = 'customerId'
item_id = 'productId'
users_to_recommend = list(customers[user_id])
n_rec = 10 # number of items to recommend
n_display = 30 # to display the first few rows in an output dataset

In [10]:
def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='pearson')
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [12]:
name = 'cosine'
target = 'purchase_count'
cos = model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 106868 observations with 23277 users and 300 items.

    Data prepared in: 0.177829s

106868 observations to process; with 300 unique items.

recommendations finished on 1000/1000 queries. users per second: 72827.9

+------------+-----------+--------------------+------+
| customerId | productId |       score        | rank |
+------------+-----------+--------------------+------+
|    1553    |    248    | 3.024390243902439  |  1   |
|    1553    |     34    |        3.0         |  2   |
|    1553    |     37    | 2.9846743295019156 |  3   |
|    1553    |     0     | 2.974063400576369  |  4   |
|    1553    |    132    | 2.9322033898305087 |  5   |
|    1553    |     3     | 2.824634655532359  |  6   |
|    1553    |    110    | 2.6842105263157894 |  7   |
|    1553    |     10    | 2.682242990654206  |  8   |
|    1553    |     27    | 2.6691176470588234 |  9   |
|    1553    |     32    | 2.6666666666666665 |  10  |
|   20400    |    248    | 3.024390243902439  |  1   |
|   20400    |     34    |        3.0         |  2   |
|   20400    |     37    | 2.9846743295019156 |  3   |
|   20400    |     0     | 2.974063400576369  |  4   |
|   20400    |    132    | 2.9322033898305087 |  5   |
|   20400    |     3     | 2.824634655532359  |  6   |
|   20400    |    110    | 2.6842105263157894 |  7   |
|   20400    |     10    | 2.682242990654206  |  8   |
|   20400    |     27    | 2.6691176470588234 |  9   |
|   20400    |     32    | 2.6666666666666665 |  10  |
|   19750    |    248    | 3.024390243902439  |  1   |
|   19750    |     34    |        3.0         |  2   |
|   19750    |     37    | 2.9846743295019156 |  3   |
|   19750    |     0     | 2.974063400576369  |  4   |
|   19750    |    132    | 2.9322033898305087 |  5   |
|   19750    |     3     | 2.824634655532359  |  6   |
|   19750    |    110    | 2.6842105263157894 |  7   |
|   19750    |     10    | 2.682242990654206  |  8   |
|   19750    |     27    | 2.6691176470588234 |  9   |
|   19750    |     32    | 2.6666666666666665 |  10  |
+------------+-----------+--------------------+------+
[10000 rows x 4 columns]