In [34]:
import pandas as pd
import numpy as np
import nltk
nltk.download('stopwords')
import gensim

[nltk_data] Error loading stopwords: <urlopen error [Errno 104]
[nltk_data]     Connection reset by peer>

In [35]:
dataset = pd.read_csv("AmazonData.csv")
# dataset.head(5)

In [36]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Uniq Id                10002 non-null  object
 1   Product Name           10002 non-null  object
 2   Brand Name             0 non-null      float64
 3   Asin                   0 non-null      float64
 4   Category               9172 non-null   object
 5   Upc Ean Code           34 non-null     object
 6   List Price             0 non-null      float64
 7   Selling Price          9895 non-null   object
 8   Quantity               0 non-null      float64
 9   Model Number           8232 non-null   object
 10  About Product          9729 non-null   object
 11  Product Specification  8370 non-null   object
 12  Technical Details      9212 non-null   object
 13  Shipping Weight        8864 non-null   object
 14  Product Dimensions     479 non-null    object
 15  Image                  10002 non-null  object
 16  Variants               2478 non-null   object
 17  Sku                    0 non-null      float64
 18  Product Url            10002 non-null  object
 19  Stock                  0 non-null      float64
 20  Product Details        0 non-null      float64
 21  Dimensions             0 non-null      float64
 22  Color                  0 non-null      float64
 23  Ingredients            0 non-null      float64
 24  Direction To Use       0 non-null      float64
 25  Is Amazon Seller       10002 non-null  object
 26  Size Quantity Variant  0 non-null      float64
 27  Product Description    0 non-null      float64
dtypes: float64(13), object(15)
memory usage: 2.1+ MB

In [37]:
cols = [0,2,3,5,6,8,9,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27]
dataset.drop(dataset.columns[cols], axis =1, inplace=True)

In [38]:
dataset.dropna(inplace = True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7216 entries, 0 to 10001
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Product Name           7216 non-null   object
 1   Category               7216 non-null   object
 2   Selling Price          7216 non-null   object
 3   About Product          7216 non-null   object
 4   Product Specification  7216 non-null   object
 5   Shipping Weight        7216 non-null   object
dtypes: object(6)
memory usage: 394.6+ KB

In [39]:
dataset["Category"]

0        Sports & Outdoors | Outdoor Recreation | Skate...
1        Toys & Games | Learning & Education | Science ...
2                Toys & Games | Arts & Crafts | Craft Kits
3        Toys & Games | Hobbies | Models & Model Kits |...
4                  Toys & Games | Puzzles | Jigsaw Puzzles
                               ...
9995     Home & Kitchen | Bedding | Kids' Bedding | Qui...
9996                          Toys & Games | Building Toys
9998                          Toys & Games | Arts & Crafts
9999     Office Products | Office & School Supplies | E...
10001    Home & Kitchen | Furniture | Kids' Furniture |...
Name: Category, Length: 7216, dtype: object

In [40]:
dataset["Category"] = dataset["Category"].str.replace('[^a-zA-Z]',' ').str.lower()

/home/leo/anaconda3/envs/tcc/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [41]:
dataset["Category"]

0        sports   outdoors   outdoor recreation   skate...
1        toys   games   learning   education   science ...
2                toys   games   arts   crafts   craft kits
3        toys   games   hobbies   models   model kits  ...
4                  toys   games   puzzles   jigsaw puzzles
                               ...
9995     home   kitchen   bedding   kids  bedding   qui...
9996                          toys   games   building toys
9998                          toys   games   arts   crafts
9999     office products   office   school supplies   e...
10001    home   kitchen   furniture   kids  furniture  ...
Name: Category, Length: 7216, dtype: object

In [42]:
stop_re = '\\b'+'\\b|\\b'.join(nltk.corpus.stopwords.words('english'))+'\\b'
dataset["Category"] = dataset["Category"].str.replace(stop_re, '')

/home/leo/anaconda3/envs/tcc/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [43]:
dataset["Category"]

0        sports   outdoors   outdoor recreation   skate...
1        toys   games   learning   education   science ...
2                toys   games   arts   crafts   craft kits
3        toys   games   hobbies   models   model kits  ...
4                  toys   games   puzzles   jigsaw puzzles
                               ...
9995     home   kitchen   bedding   kids  bedding   qui...
9996                          toys   games   building toys
9998                          toys   games   arts   crafts
9999     office products   office   school supplies   e...
10001    home   kitchen   furniture   kids  furniture  ...
Name: Category, Length: 7216, dtype: object

In [44]:
dataset["Category"] = dataset["Category"].str.split()
dataset["Category"].head(10)

0     [sports, outdoors, outdoor, recreation, skates...
1     [toys, games, learning, education, science, ki...
2              [toys, games, arts, crafts, craft, kits]
3     [toys, games, hobbies, models, model, kits, mo...
4               [toys, games, puzzles, jigsaw, puzzles]
6     [clothing, shoes, jewelry, costumes, accessori...
8     [home, kitchen, home, cor, window, treatments,...
10                   [toys, games, baby, toddler, toys]
11    [toys, games, collectible, toys, statues, bobb...
13        [toys, games, building, toys, building, sets]
Name: Category, dtype: object

In [45]:
model = gensim.models.Word2Vec(dataset["Category"], min_count=1, vector_size=100, window=5)

similar = model.wv.most_similar("puzzles")
print(similar)

[('jigsaw', 0.9774642586708069), ('brain', 0.9492267370223999), ('floor', 0.9371063113212585), ('teasers', 0.9338768124580383), ('disentanglement', 0.7924870252609253), ('assembly', 0.7733438611030579), ('pegged', 0.7626885175704956), ('games', 0.7437401413917542), ('puzzle', 0.7247949838638306), ('toys', 0.7180243134498596)]