In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv("AmazonData.csv")
dataset.head(5)

,Uniq Id,Product Name,Brand Name,Asin,Category,Upc Ean Code,List Price,Selling Price,Quantity,Model Number,...,Product Url,Stock,Product Details,Dimensions,Color,Ingredients,Direction To Use,Is Amazon Seller,Size Quantity Variant,Product Description
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",NaN,NaN,Sports & Outdoors | Outdoor Recreation | Skate...,NaN,NaN,$237.68,NaN,NaN,...,https://www.amazon.com/DB-Longboards-CoreFlex-...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",NaN,NaN,Toys & Games | Learning & Education | Science ...,NaN,NaN,$99.95,NaN,55324,...,https://www.amazon.com/Electronic-Circuits-Cla...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,NaN,NaN,Toys & Games | Arts & Crafts | Craft Kits,NaN,NaN,$34.99,NaN,NaN,...,https://www.amazon.com/3Doodler-Plastic-Innova...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,NaN,NaN,Toys & Games | Hobbies | Models & Model Kits |...,NaN,NaN,$28.91,NaN,142,...,https://www.amazon.com/Guillow-Airplane-Design...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,NaN,NaN,Toys & Games | Puzzles | Jigsaw Puzzles,NaN,NaN,$17.49,NaN,62151,...,https://www.amazon.com/Woodstock-Collage-500-p...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [4]:
dataset.shape

(10002, 28)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Uniq Id                10002 non-null  object
 1   Product Name           10002 non-null  object
 2   Brand Name             0 non-null      float64
 3   Asin                   0 non-null      float64
 4   Category               9172 non-null   object
 5   Upc Ean Code           34 non-null     object
 6   List Price             0 non-null      float64
 7   Selling Price          9895 non-null   object
 8   Quantity               0 non-null      float64
 9   Model Number           8232 non-null   object
 10  About Product          9729 non-null   object
 11  Product Specification  8370 non-null   object
 12  Technical Details      9212 non-null   object
 13  Shipping Weight        8864 non-null   object
 14  Product Dimensions     479 non-null    object
 15  Image                  10002 non-null  object
 16  Variants               2478 non-null   object
 17  Sku                    0 non-null      float64
 18  Product Url            10002 non-null  object
 19  Stock                  0 non-null      float64
 20  Product Details        0 non-null      float64
 21  Dimensions             0 non-null      float64
 22  Color                  0 non-null      float64
 23  Ingredients            0 non-null      float64
 24  Direction To Use       0 non-null      float64
 25  Is Amazon Seller       10002 non-null  object
 26  Size Quantity Variant  0 non-null      float64
 27  Product Description    0 non-null      float64
dtypes: float64(13), object(15)
memory usage: 2.1+ MB

In [6]:
dataset.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
9997     False
9998     False
9999     False
10000    False
10001    False
Length: 10002, dtype: bool

In [7]:
cols = [0,2,3,5,6,8,9,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27]
dataset.drop(dataset.columns[cols], axis =1, inplace=True)

In [8]:
dataset.dropna(inplace = True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7216 entries, 0 to 10001
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Product Name           7216 non-null   object
 1   Category               7216 non-null   object
 2   Selling Price          7216 non-null   object
 3   About Product          7216 non-null   object
 4   Product Specification  7216 non-null   object
 5   Shipping Weight        7216 non-null   object
dtypes: object(6)
memory usage: 394.6+ KB

In [9]:
new = dataset["Category"].str.split("|", n = 3, expand = True)
  
# making the first category called Main Category
dataset["Main Category"]= new[0] 
  
# making the second category called sub_category 
dataset["Sub-Category"]= new[1]

# making the third category called side_category 
dataset["Side Category"]= new[2]

# making the last column consist of the remaining categories
dataset["Other Categories"]= new[3]

# Dropping old category columns and the remaining categories 
dataset.drop(columns =["Category", "Other Categories"], inplace = True)

In [10]:
dataset.rename(columns = {'Uniq Id':'Id','Shipping Weight':'Shipping Weight(Pounds)', 'Selling Price':'Selling Price($)'}, inplace = True)

dataset['Shipping Weight(Pounds)'] = dataset['Shipping Weight(Pounds)'].str.strip('ounces')
dataset['Shipping Weight(Pounds)'] = dataset['Shipping Weight(Pounds)'].str.strip('pounds')
dataset['Selling Price($)'] = dataset['Selling Price($)'].str.replace('$', '')

dataset.head()

/home/tcc/anaconda3/envs/tcc/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

,Product Name,Selling Price($),About Product,Product Specification,Shipping Weight(Pounds),Main Category,Sub-Category,Side Category
0,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",237.68,Make sure this fits by entering your model num...,Shipping Weight: 10.7 pounds (View shipping ra...,10.7,Sports & Outdoors,Outdoor Recreation,"Skates, Skateboards & Scooters"
1,"Electronic Snap Circuits Mini Kits Classpack, ...",99.95,Make sure this fits by entering your model num...,Product Dimensions: 14.7 x 11.1 x 10.2...,4,Toys & Games,Learning & Education,Science Kits & Toys
2,3Doodler Create Flexy 3D Printing Filament Ref...,34.99,Make sure this fits by entering your model num...,ProductDimensions:10.3x3.4x0.8inches|ItemWeigh...,12.8,Toys & Games,Arts & Crafts,Craft Kits
3,Guillow Airplane Design Studio with Travel Cas...,28.91,Make 8 different Planes at one time. | Experim...,ProductDimensions:3.5x6.2x13inches|ItemWeight:...,13.4,Toys & Games,Hobbies,Models & Model Kits
4,Woodstock- Collage 500 pc Puzzle,17.49,Make sure this fits by entering your model num...,ProductDimensions:1.9x8x10inches|ItemWeight:13...,13.4,Toys & Games,Puzzles,Jigsaw Puzzles

In [11]:
indexes = dataset[dataset['Selling Price($)'] == 'Total price:'].index
dataset.drop(indexes, inplace=True)
print(indexes)

Int64Index([ 225,  286, 1033, 1819, 3059, 3284, 3893, 3910, 4035, 4042, 4173,
            5148, 5152, 5409, 5508, 5878, 6236, 6350, 6445, 6638, 6639, 6779,
            7370, 7523, 7722, 7728, 8222, 9024],
           dtype='int64')

In [12]:
dataset['Selling Price($)'] = dataset['Selling Price($)'].str.replace(',', '', regex=False)

In [13]:
indexes = dataset[dataset['Selling Price($)'].str.contains('-', na=False)].index
dataset.drop(indexes, inplace=True)
print(indexes)

Int64Index([ 480,  804,  916, 1655, 1821, 1868, 2091, 2200, 2387, 2912, 3283,
            3580, 4254, 5104, 5389, 5781, 5911, 5949, 6199, 6405, 6542, 6589,
            6938, 7136, 7189, 7233, 7321, 7461, 7670, 7770, 8296, 8943, 9062,
            9261, 9299, 9319, 9431, 9462, 9715, 9883],
           dtype='int64')

In [14]:
indexes = dataset[dataset['Selling Price($)'].str.contains('&', na=False)].index
dataset.drop(indexes, inplace=True)
print(indexes)

Int64Index([2572], dtype='int64')

In [15]:
indexes = dataset[dataset['Selling Price($)'].str.contains('Currently', na=False)].index
dataset.drop(indexes, inplace=True)
print(indexes)

Int64Index([2639, 5335], dtype='int64')

In [16]:
indexes = dataset[dataset['Selling Price($)'].str.contains('from', na=False)].index
dataset.drop(indexes, inplace=True)
print(indexes)

Int64Index([2977, 3248, 4557, 5137, 5736, 6140, 6673, 6674], dtype='int64')

In [17]:
dataset['Selling Price($)'] = dataset['Selling Price($)'].str.split(' ').str[0]

In [18]:
dataset['Selling Price($)'] = dataset['Selling Price($)'].astype(float)

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7137 entries, 0 to 10001
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             7137 non-null   object
 1   Selling Price($)         7137 non-null   float64
 2   About Product            7137 non-null   object
 3   Product Specification    7137 non-null   object
 4   Shipping Weight(Pounds)  7137 non-null   object
 5   Main Category            7137 non-null   object
 6   Sub-Category             7137 non-null   object
 7   Side Category            6155 non-null   object
dtypes: float64(1), object(7)
memory usage: 501.8+ KB

In [20]:
indexes = dataset[dataset['Shipping Weight(Pounds)'].str.contains(r'\. ', na=False)].index
print(indexes)

Int64Index([1619], dtype='int64')

In [21]:
dataset.at[1619, 'Shipping Weight(Pounds)']

'. '

In [22]:
dataset.drop(1619, inplace=True)

In [23]:
dataset['Shipping Weight(Pounds)'] = dataset['Shipping Weight(Pounds)'].astype(float)

ValueError: could not convert string to float: '1,070 '

In [ ]:
dataset['Shipping Weight(Pounds)'] = dataset['Shipping Weight(Pounds)'].str.replace(',', '', regex=False)

NameError: name 'dataset' is not defined

In [ ]:
dataset['Shipping Weight(Pounds)'] = dataset['Shipping Weight(Pounds)'].astype(float)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7136 entries, 0 to 10001
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             7136 non-null   object
 1   Selling Price($)         7136 non-null   float64
 2   About Product            7136 non-null   object
 3   Product Specification    7136 non-null   object
 4   Shipping Weight(Pounds)  7136 non-null   float64
 5   Main Category            7136 non-null   object
 6   Sub-Category             7136 non-null   object
 7   Side Category            6155 non-null   object
dtypes: float64(2), object(6)
memory usage: 501.8+ KB